<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>我舉辦的活動</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
    <style>
        td a {
            color: inherit;
            text-decoration: none;
        }


        th {
            background-color: RGB(82, 40, 26);
            color: RGB(241, 237, 233);
            transition: background-color 0.3s, color 0.3s;
            /* 動畫過渡效果 */
        }

        th:hover {
            background-color: RGB(223, 207, 185);
            color: RGB(82, 40, 26);
        }

        tbody tr:hover {
            background-color: #876d5a;
            color: RGB(82, 40, 26);
        }

        form button {
            background-color: #876d5a;
            color: white;
            border: none;
            padding: 5px 15px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        form button:hover {
            background-color: #6e594b;
        }

.update_icon, .cancel_icon {
    width: 70px; /* 調整按鈕的寬度 */
    height: 40px; /* 調整按鈕的高度 */
    background-color: #876d5a;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center; /* 讓按鈕文字居中 */
    display: inline-block; /* 讓按鈕可以正確佔據寬度 */
    line-height: 30px; /* 讓按鈕文字垂直居中 */
    font-size: small; /* 設置按鈕文字大小 */
    margin-top: 10px;
}



        .list_icon {
            background-color: #876d5a;
            color: white;
            border: none;
            padding: 5px 15px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            width: auto;
        }

        .update_icon:hover, .list_icon:hover, .cancel_icon:hover {
            background-color: #6e594b;
        }

        th,
        td {
            min-width: 90px;
            font-size: small;
        }

        .swal2-popup,
        .swal2-title{
    		font-family: "Chilanka" !important;
		}

		.host-container{
		padding:30px;
		/* max-width:1500px; */
		margin-left:310px;
		margin-top:20px;
		}
        .eventCancel-td,.list-td{
min-width: 100px;
        }
        .update-td{
width: 50px !important;
        }

table {
    width: 100%;}

</style>
</head>

<body>
    <div th:replace="~{layout/header}"></div>
    <div th:replace="~{layout/memberSidebar}"></div>
    
    <div class="host-container twchar">
    <h2 class="twchar title">舉辦的活動</h2>
                        <select id="filterStatus">
                        <option value="">全部</option>
                        <option value="0">待審核</option>
                        <option value="1">報名中</option>
                        <option value="2">報名截止</option>
                        <option value="3">已結束</option>
                        <option value="4">審核不通過</option>
                        <option value="5">已額滿</option>
                    </select>
        <table id="events_table" class="display cell-border compact">
            <thead>
                <tr>
                    <th>活動編號</th>
                    <th>活動主題</th>
                    <th>報名截止日期/<br>舉辦時間</th>
                    <th>活動地點</th>
                    <th>剩餘名額/人數限制</th>

                    <th>申請日期</th>
                    <th>修改更新時間</th>
                    <th style="display: none;">審核狀態</th>
                    <th style="display: none;">活動狀態</th>
                    <th>審核狀態</th>
                    <th>活動狀態</th>
                    <th>報名清單</th>
                    <th>修改/<br>取消活動</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="eventBean : ${eventBeans}">
                    <td>
                        <a th:href="@{/public/findEventById.controller(eventId=${eventBean.eventId})}"
                            class="button-icon">[[${eventBean.eventId}]]</a>
                    </td>
                    <td>
                        <a th:href="@{/public/findEventById.controller(eventId=${eventBean.eventId})}"
                            class="button-icon">[[${eventBean.eventSubject}]]</a>
                    </td>
                    <td>
                        <span th:text="${#dates.format(eventBean.closingDate, 'yyyy-MM-dd')}"></span><br>/<br>
                        <span th:text="${#dates.format(eventBean.eventDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </td>
                    <td th:text="${eventBean.eventPlaceName}"></td>
                    <td>
                        <span th:text="${eventBean.remainingCapacity}"></span>/     
                        <span th:text="${eventBean.numberOfParticipant}"></span>
                    </td>

                    <td th:text="${#dates.format(eventBean.releaseDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(eventBean.updateDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td style="display: none;" th:text="${eventBean.approvalStatus}"></td>
                    <td style="display: none;" th:text="${eventBean.eventStatus}"></td>
                    <td>
                        <span th:switch="${eventBean.approvalStatus}">
                            <span th:case="1">尚未審核</span>
                            <span th:case="2">審核通過</span>
                            <span th:case="3">審核不通過</span>
                        </span>
                    </td>
                    <td>
                        <span th:switch="${eventBean.eventStatus}">
                            <span th:case="0">待審核</span>
                            <span th:case="1">報名尚未截止</span>
                            <span th:case="2">報名截止</span>
                            <span th:case="3">已結束</span>
                            <span th:case="4">已額滿</span>
                        </span>
                    </td>
                    <td class="list-td">
                        <div class="list_icon"><a
                                th:href="@{/member/findParticipantsByEvent.controller(eventId=${eventBean.eventId})}">
                                <i class="fa-solid fa-table-list"></i> 報名清單</a></div>
                    </td>
                    <td>
                        <div class="update_icon"><a th:href="@{/member/updateEventForm(eventId=${eventBean.eventId})}">
                                <i class="fa-solid fa-pen"></i>修改</a></div><br>
                                <form class="eventCancel" th:action="@{/eventCancel}" method="post">
                            <input name="_method" value="put" type="hidden" />
                            <input type="hidden" name="eventId" th:value="${eventBean.eventId}" />
                            <input type="hidden" name="frontOrEnd" th:value="'front'" />
                            <input type="hidden" name="eventCancelStatus" value="1" />
                            <button type="submit" class="cancel_icon"><i class="fa-solid fa-trash-can"></i>取消</button>
                        </form>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer1" th:replace="~{layout/footer}"></div>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#events_table').DataTable({
                "language": {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "emptyTable": "目前沒有資料",
                    "datetime": {
                        "previous": "上一頁",
                        "next": "下一頁",
                        "hours": "時",
                        "minutes": "分",
                        "seconds": "秒",
                        "amPm": [
                            "上午",
                            "下午"
                        ],
                        "unknown": "未知",
                        "weekdays": [
                            "週日",
                            "週一",
                            "週二",
                            "週三",
                            "週四",
                            "週五",
                            "週六"
                        ],
                        "months": [
                            "一月",
                            "二月",
                            "三月",
                            "四月",
                            "五月",
                            "六月",
                            "七月",
                            "八月",
                            "九月",
                            "十月",
                            "十一月",
                            "十二月"
                        ]
                    },
                    "searchBuilder": {
                        "add": "新增條件",
                        "condition": "條件",
                        "button": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "clearAll": "清空",
                        "conditions": {
                            "array": {
                                "contains": "含有",
                                "equals": "等於",
                                "empty": "空值",
                                "not": "不等於",
                                "notEmpty": "非空值",
                                "without": "不含"
                            },
                            "date": {
                                "after": "大於",
                                "before": "小於",
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "number": {
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "gt": "大於",
                                "gte": "大於等於",
                                "lt": "小於",
                                "lte": "小於等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "string": {
                                "contains": "含有",
                                "empty": "為空",
                                "endsWith": "字尾為",
                                "equals": "等於",
                                "not": "不為",
                                "notEmpty": "不為空",
                                "startsWith": "字首為",
                                "notContains": "不含",
                                "notStartsWith": "開頭不是",
                                "notEndsWith": "結尾不是"
                            }
                        },
                        "data": "欄位",
                        "leftTitle": "群組條件",
                        "logicAnd": "且",
                        "logicOr": "或",
                        "rightTitle": "取消群組",
                        "title": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "value": "內容",
                        "deleteTitle": "刪除篩選條件"
                    },
                    "editor": {
                        "close": "關閉",
                        "create": {
                            "button": "新增",
                            "title": "新增資料",
                            "submit": "送出新增"
                        },
                        "remove": {
                            "button": "刪除",
                            "title": "刪除資料",
                            "submit": "送出刪除",
                            "confirm": {
                                "_": "您確定要刪除您所選取的 %d 筆資料嗎？",
                                "1": "您確定要刪除您所選取的 1 筆資料嗎？"
                            }
                        },
                        "error": {
                            "system": "系統發生錯誤(更多資訊)"
                        },
                        "edit": {
                            "button": "修改",
                            "title": "修改資料",
                            "submit": "送出修改"
                        },
                        "multi": {
                            "title": "多重值",
                            "info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
                            "restore": "復原",
                            "noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
                        }
                    },
                    "autoFill": {
                        "cancel": "取消"
                    },
                    "buttons": {
                        "copySuccess": {
                            "_": "複製了 %d 筆資料",
                            "1": "複製了 1 筆資料"
                        },
                        "copyTitle": "已經複製到剪貼簿",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "print": "列印",
                        "copy": "複製",
                        "colvis": "欄位顯示",
                        "colvisRestore": "重置欄位顯示",
                        "csv": "CSV",
                        "pageLength": {
                            "-1": "顯示全部",
                            "_": "顯示 %d 筆"
                        },
                        "createState": "建立狀態",
                        "removeAllStates": "移除所有狀態",
                        "removeState": "移除",
                        "renameState": "重新命名",
                        "savedStates": "儲存狀態",
                        "stateRestore": "狀態 %d",
                        "updateState": "更新",
                        "collection": "更多"
                    },
                    "searchPanes": {
                        "collapse": {
                            "_": "搜尋面版 (%d)",
                            "0": "搜尋面版"
                        },
                        "emptyPanes": "沒搜尋面版",
                        "loadMessage": "載入搜尋面版中...",
                        "clearMessage": "清空",
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "showMessage": "顯示全部",
                        "collapseMessage": "摺疊全部",
                        "title": "篩選條件 - %d"
                    },
                    "stateRestore": {
                        "emptyError": "名稱不能空白。",
                        "creationModal": {
                            "button": "建立",
                            "columns": {
                                "search": "欄位搜尋",
                                "visible": "欄位顯示"
                            },
                            "name": "名稱：",
                            "order": "排序",
                            "paging": "分頁",
                            "scroller": "卷軸位置",
                            "search": "搜尋",
                            "searchBuilder": "複合查詢",
                            "select": "選擇",
                            "title": "建立新狀態",
                            "toggleLabel": "包含："
                        },
                        "duplicateError": "此狀態名稱已經存在。",
                        "emptyStates": "名稱不可空白。",
                        "removeConfirm": "確定要移除 %s 嗎？",
                        "removeError": "移除狀態失敗。",
                        "removeJoiner": "和",
                        "removeSubmit": "移除",
                        "removeTitle": "移除狀態",
                        "renameButton": "重新命名",
                        "renameLabel": "%s 的新名稱：",
                        "renameTitle": "重新命名狀態"
                    },
                    "select": {
                        "columns": {
                            "_": "選擇了 %d 欄資料",
                            "1": "選擇了 1 欄資料"
                        },
                        "rows": {
                            "1": "選擇了 1 筆資料",
                            "_": "選擇了 %d 筆資料"
                        },
                        "cells": {
                            "1": "選擇了 1 格資料",
                            "_": "選擇了 %d 格資料"
                        }
                    },
                    "zeroRecords": "沒有符合的資料",
                    "aria": {
                        "sortAscending": "：升冪排列",
                        "sortDescending": "：降冪排列"
                    },
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoThousands": ",",
                    "lengthMenu": "顯示 _MENU_ 筆結果",
                    "search": "搜尋：",
                    "searchPlaceholder": "請輸入關鍵字",
                    "thousands": ",",
                    "infoFiltered": "(從 _MAX_ 筆結果中篩選)"
                }
            });

            $('#filterStatus').on('change', function () {
                var status = $(this).val();
                table.columns().search('').draw();
                if (status === '') {
                    table.search('').draw();
                } else if (status === '0') {
                    // 篩選待審核的活動
                    table.column(7).search('1').draw();
                } else if (status === '1') {
                    // 篩選報名中的活動
                    table.column(8).search('1').draw();
                } else if (status === '2') {
                    // 篩選報名截止的活動
                    table.column(8).search('2').draw();
                } else if (status === '3') {
                    // 篩選已結束的活動
                    table.column(8).search('3').draw();
                } else if (status === '4') {
                    // 篩選審核不通過的活動（approvalStatus=3）
                    table.column(7).search('3').draw();
                }else if (status === '5') {
                    table.column(8).search('4').draw();
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const updateForms = document.querySelectorAll('.eventCancel');

            updateForms.forEach(form => {
                form.addEventListener('submit', function (e) {
                    e.preventDefault();
                    Swal.fire({
                        title: "你確定要取消此筆活動嗎？",
                        text: "這個動作將無法還原！",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "是的，我想取消此活動。",
                        cancelButtonText: "不，我不要取消此活動。"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: "已取消！",
                                text: "此活動已成功取消。",
                                icon: "success"
                            }).then(() => {
                                form.submit();
                            });
                        };
                    });
                });
            });
        });
    </script>

</body>

</html>